{% extends "base.html" %}

{% block content %}
{% for post in posts.items %}
<div class="card border-primary profile-info flex-row flex-wrap">
  <div class="card-header border-0 col-12">
      <img src="{{url_for('static',filename='profile_pics/'+post.author.image_file)}}" class="card-img-top rounded-circle account-img" alt="profile pic">
  </div>
  <div class="card-body">
      <h6 class="card-subtitle mb-2 pb-2 text-muted border-bottom">
        <div class="row d-flex justify-content-between">
          <div class="col col-4 d-flex align-items-center">
            <a href="{{url_for('users.user_posts',username = post.author.username)}}">
              @{{post.author.username}}
          </a> 
          </div>
          <div class="col col-4 d-flex align-items-center">{{post.date_posted.strftime('%d %B, %Y')}}</div>
        </div>
      </h6>
      <h5 class="card-title"><a class="post-detail-title"href="{{url_for('posts.post',post_id=post.id)}}">{{post.title}}</a></h5>
      <p class="card-text">
        {{post.content}}
      </p>
  </div>
</div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
  {% if page_num  %}
    {% if posts.page == page_num %}
      <a class ="btn  btn-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
    {% else %}   
    <a class ="btn  btn-outline-info mb-4" href="{{url_for('main.home',page=page_num)}}">{{page_num}}</a>
    {% endif %}
    {% else %} 
    ...
  {% endif %}

{% endfor %}
{% endblock content %}